.class {
    background-color: #dcdfe7;
    background-color: #cc517a;
    background-color: #668e3d;
    background-color: #c57339;
    background-color: #2d539e;
    background-color: #2d539e;
    background-color: #7759b4;
    background-color: #3f83a6;
    background-color: #33374c;
    background-color: #8389a3;
    background-color: #cc3768;
    background-color: #598030;
    background-color: #b6662d;
    background-color: #22478e;
    background-color: #6845ad;
    background-color: #327698;
    background-color: #262a3f;

}